body{font-family: 'Noto Sans', sans-serif; font-size:1rem;background: #f1f0f0; border-radius: 7px !important;overflow-x: hidden !important;}
.bg-color{background-color: #1f2c78!important; }
.navbar-nav{ margin: 0 auto; font-size: 25px}
.image{ border: 1px solid #ccc;border-radius: 50%;width: 85px;height:85px;}
.image-common{ width:45px; height:45px;margin: 10px auto;}
.task h6{font-weight: 700;}
.task ul li h6{ font-size: 17px;margin: 10px 0 0 10px;}
.task{border-radius: 7px !important;}
.task .text{ margin-bottom: 10px;}
.ecard-2{ width:100%;height:73px; }
.name{ width: 80%;display: flex;float: left;text-align: center;margin: 0rem 0;}
.name .name_1{z-index: 1;width: 45px;height: 45px;border-radius: 50%;background: #000;position: relative;top:0px;color: #fff;text-align: center;margin: 0rem 0;vertical-align: middle;font-size: 22px;}
ul{ list-style: none}
.timings .icon{width: 26px;height: 26px;border-radius:50%;background:#b9e9de;position:relative;}
.timings .icon .fa-caret-right{ position: absolute;left: 1.2rem;top: 0.5rem;font-size: 33px;color: #FFC107;}
.timings .icon .fa-check-circle{ position: absolute;left: 0.3rem;top: 0.4rem;color: #28b595;font-size:14px}
.name .text{ position: relative; top:0.3rem;}
.dot1{width: 15px;height: 15px;border-radius: 50%;background: #f4749e;margin-top:1.3rem;}
.dot2{width: 15px;height: 15px;border-radius: 50%;background: #31c9a7;margin-top:1.3rem;margin-left: 1rem}
.closures li{text-align: center;}
.closures .converted{margin: 9px 8rem; }
.closures .rejected{margin: 9px 1em; }
.content-1{ background: #7fffd469;border-radius:10px;}
.content-1 ul li span h3{ margin-left: 0rem;}
.content-1 ul li h6 span{ margin-left: 0rem;font-size: 13px;font-weight: 900;margin-left: 6px;}
.content-1 ul li p{ margin-left: 0rem;}
.content-1 .image-1 li span img{ width:45px; height: 45px;}
.content-1 ul li .text-2{position: absolute;right: 11rem;text-align: center;margin-top: .5rem;font-size: 19px;color: #fff;}
footer{ margin-top: 1.3rem;background: #cccccc87; padding: 1.5rem;}
footer ul li span img{width: 50px;height: 50px !important;margin: 0 1.5rem;justify-content: center;position: relative;left: 20rem;}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (-webkit-min-device-pixel-ratio: 2) {
     body{ overflow-x: hidden !important;}
    .row{ margin: 0px !important;}
    .navbar-nav {font-size: 21px;text-align: center;} 
    .navbar-nav .nav-link{text-align: center;margin: 0 auto;position: relative;left: 20px;} 
    .form-inline{position: relative;left: 1rem;}
    .form-inline .first-img{position: relative;left: 66px;width: 17%;}
    .form-inline .second-img{position: relative;left: 79px;width: 25%; }
    .closures li .closure{font-size: 16px;margin-top: 4px; }
    .closures li .average{font-size: 18px;margin-left: 28px; }
    .image{border: .5px solid #979797;border-radius: 50%;width: 50.5px;height: 50.5px;margin-top: -5px;}
    .image img{ margin-left: 2px !important;margin-top: -2px;width:24px; height:28px}
    .text-3{ margin-top: -20px}
    .text-3 h6 span{margin-top: -12px; color:#293241; line-height: 27.5px; }
    footer ul li span img {left:0rem;position:relative;margin: 0 .3rem;}
    .header li img{ width:70px;}
    .content-1 ul li .text-2 {position: absolute;right: 2rem;top: 11rem;text-align: center;margin-top: .5rem;font-size: 19px;color: #fff;}
    footer { margin-top: 1.3rem;background: #cccccc87;padding: 1rem;}
    .task h6{font-weight: 700;}
    .task .image-tick{width: 51px;height: 45px;margin: 14px auto;}
    .task .image-notification{width: 41px;height: 52px;margin: 10px auto;}
    .task .image-group{width: 57px;height: 54px;margin: 10px auto;}
    .task ul li h6{ font-size: 17px;margin: 20px 0 0 10px;}
    .task ul .high{margin: 10px 0 0 10px; }
    .task ul .medium{margin: 10px 0 0 -95px; }
    .timings .time{position: relative;right: 1.5rem;top:.5rem }
    .timings .img-4{ margin: 0 0 0 0;}
    .image-2 li span .img1{ position: absolute; right: -1rem;}
    .image-2 li span .img2{ position: absolute; right: 3rem;}
    .ecard{ width:90%; margin-left: 15px;height:139.5px}
    .ecard ul .cal{ margin-left: 9rem}
    .bg-color-1{ background-color: #03a9f430!important;}
    .task .text{ margin-bottom: 10px;}
    .ecard-1 .nav .nav-item .nav-link .bg-width{ width:4rem;}
    .header li .text-2{ position: absolute; top:19rem;}
    .ecard-2{ margin-top: 5rem;border-radius:17.5px;}
    footer{ position: fixed; left:0; bottom: 0; width: 100%}
    .location{ width:14px; height: 19px;}
    .timeline{ border-radius: 17.5px}
    .timeline .timeline-1{ margin-top: -10px}
    .timeline .text-5 h3{ font-size: 22px !important; color:#293241;letter-spacing: 0.86px;}
    .timeline .dot img{ width:50px; margin-top: -9px;}
    .timeline .timeline-footer{ margin-top:-14px; }
    .ecard ul .text-6 h3 span{ font-size:22px; color:#293241; letter-spacing: 0.86px;}
    .ecard ul li .img-3{ width:62px; height: 23px; margin: 0 0 0 7rem;}
    .callback .text-7 p span{ font-size:1rem;}
     .image-1 li span .img1{ width:55px !important; height: 40px !important;}
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 
    body{ overflow-x: hidden !important;}
    .row{ margin: 0px !important;}
    .navbar-nav {font-size: 21px;text-align: center;} 
    .navbar-nav .nav-link{text-align: center;margin: 0 auto;position: relative;left: 20px;} 
    .form-inline{position: relative;left: 1rem;}
     .form-inline .first-img{position: relative;left: 66px;width: 17%;}
    .form-inline .second-img{position: relative;left: 79px;width: 25%; }
    .closures li .closure{font-size: 16px;margin-top: 4px; }
    .closures li .average{font-size: 18px;margin-left: 28px; }
    .image{border: .5px solid #979797;border-radius: 50%;width: 50.5px;height: 50.5px;margin-top: -5px;}
    .image img{ margin-left: 2px !important;margin-top: -2px;width:24px; height:28px}
    .text-3{ margin-top: -20px}
    .text-3 h6 span{margin-top: -12px; color:#293241; line-height: 27.5px; }
    footer ul li span img {left: 1.5rem;position: relative;margin: 0 .5rem;width: 45px;height: 45px !important;}
    .header li img{ width:70px;}
    .content-1 ul li .text-2 {position: absolute;right: 2rem;top: 11rem;text-align: center;margin-top: .5rem;font-size: 19px;color: #fff;}
    footer { margin-top: 1.3rem;background: #cccccc87;padding: 1rem;}
    .task{ border-radius:17.5px !important;}
    .task h6{font-weight: 700;}
    .task .image-tick{width: 51px;height: 45px;margin: 14px auto;}
    .task .image-notification{width: 41px;height: 52px;margin: 10px auto;}
    .task .image-group{width: 57px;height: 54px;margin: 10px auto;}
    .task ul li h6{ font-size: 17px;margin: 20px 0 0 10px;}
    .task ul .high{margin: 10px 0 0 10px; }
    .task ul .medium{margin: 10px 0 0 -95px; }
    .timings .time{position: relative;right: 1.5rem;top:.5rem }
    .timings .img-4{ margin: 0 0 0 0;}
    .image-2 li span .img1{ position: absolute; right: -1rem;width: 45px !important;height: 45px !important;}
    .image-2 li span .img2{ position: absolute; right: 3rem;width: 45px !important;background-color: #aed2e230!important;height: 45px !important;}
    .ecard{ width:90%; margin-left: 15px;height:139.5px}
    .ecard ul .cal{ margin-left: 9rem}
    .bg-color-1{ background-color: #aed2e230!important;}
    .task .text{ margin-bottom: 10px;}
    .ecard-1 .nav .nav-item .nav-link .bg-width{ width:4rem;}
    .header li .text-2{ position: absolute; top:19rem;}
    .image-1 li span .img1{ width:55px !important; height: 40px !important;}
    .ecard-2{ margin-top: 5rem;width:100%;height:73px;border-radius:17.5px !important;}
    footer{ position: fixed; left:0; bottom: 0; width: 100%; height:97.5px; background: #fff;}
    .location{ width:14px; height: 19px;}
     .timeline{ border-radius: 17.5px}
     .timeline .timeline-1{ margin-top: -10px}
    .timeline .text-5 h3{ font-size: 22px !important; color:#293241;letter-spacing: 0.86px;}
     .timeline .dot img{ width:50px; margin-top: -9px;}
    .timeline .timeline-footer{ margin-top:-14px;}
    .ecard ul .text-6 h3 span{ font-size:22px; color:#293241; letter-spacing: 0.86px;}
    .ecard ul li .img-3{ width:62px; height: 23px; margin: 0 0 0 7rem;}
    .callback .text-7 p span{ font-size:1rem;}
    .image-1 li span .img1{ width:55px !important; height: 40px !important;}

}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) { 
     body{ overflow-x: hidden !important;}
    .row{ margin: 0px !important;}
    .navbar-nav {font-size: 21px;text-align: center;} 
    .navbar-nav .nav-link{text-align: center;margin: 0 auto;position: relative;left: 20px;} 
    .form-inline{position: relative;left: 1rem;}
     .form-inline .first-img{position: relative;left: 66px;width: 17%;}
    .form-inline .second-img{position: relative;left: 79px;width: 25%; }
    .closures li .closure{font-size: 16px;margin-top: 4px; }
    .closures li .average{font-size: 18px;margin-left: 28px; }
    .image{border: .5px solid #979797;border-radius: 50%;width: 50.5px;height: 50.5px;margin-top: -5px;}
    .image img{ margin-left: 2px !important;margin-top: -2px;width:24px; height:28px}
    .text-3{ margin-top: -20px}
     .text-3 h6 span{margin-top: -12px; color:#293241; line-height: 27.5px; }
    footer ul li span img {left:0rem;position:relative;margin: 0 .3rem;}
    .header li img{ width:70px;}
    .content-1 ul li .text-2 {position: absolute;right: 2rem;top: 11rem;text-align: center;margin-top: .5rem;font-size: 19px;color: #fff;}
    footer { margin-top: 1.3rem;background: #cccccc87;padding: 1rem;}
    .task h6{font-weight: 700;}
    .task .image-tick{width: 51px;height: 45px;margin: 14px auto;}
    .task .image-notification{width: 41px;height: 52px;margin: 10px auto;}
    .task .image-group{width: 57px;height: 54px;margin: 10px auto;}
    .task ul li h6{ font-size: 17px;margin: 20px 0 0 10px;}
    .task ul .high{margin: 10px 0 0 10px; }
    .task ul .medium{margin: 10px 0 0 -95px; }
    .timings .time{position: relative;right: 1.5rem;top:.5rem; }
    .timings .img-4{  margin: 0 0 0 0;}
    .image-2 li span .img1{ position: absolute; right: -1rem;}
    .image-2 li span .img2{ position: absolute; right: 3rem;}
    .ecard{ width:90%; margin-left: 15px;height:139.5px}
    .ecard ul .cal{ margin-left: 9rem}
    .bg-color-1{ background-color: #03a9f430!important;}
    .task .text{ margin-bottom: 10px;}
    .ecard-1 .nav .nav-item .nav-link .bg-width{ width:4rem;}
    .header li .text-2{ position: absolute; top:19rem;}
    .ecard-2{ margin-top: 5rem;border-radius:17.5px;}
    footer{ position: fixed; left:0; bottom: 0; width: 100%}
    .location{ width:14px; height: 19px;}
     .timeline{ border-radius: 17.5px}
    .timeline .text-5 h3{ font-size: 22px !important; color:#293241;letter-spacing: 0.86px;}
     .timeline .dot img{ width:50px; margin-top: -9px;}
    .timeline .timeline-footer{ margin-top:-14px; }
     .ecard ul .text-6 h3 span{ font-size:22px; color:#293241; letter-spacing: 0.86px;}
    .ecard ul li .img-3{ width:62px; height: 23px; margin: 0 0 0 7rem;}
    .callback .text-7 p span{ font-size:1rem;}
    .image-1 li span .img1{ width:55px !important; height: 40px !important;}
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) { 
    body{ overflow-x: hidden !important;}
    .row{ margin: 0px !important;}
    .navbar-nav {font-size: 21px;text-align: center;} 
    .navbar-nav .nav-link{text-align: center;margin: 0 auto;position: relative;left: 20px;} 
    .form-inline{position: relative;left: 1rem;}
   .form-inline .first-img{position: relative;left: 66px;width: 17%;}
    .form-inline .second-img{position: relative;left: 79px;width: 25%; }
    .closures li .closure{font-size: 16px;margin-top: 4px; }
    .closures li .average{font-size: 18px;margin-left: 28px; }
    .image{border: .5px solid #979797;border-radius: 50%;width: 50.5px;height: 50.5px;margin-top: -5px;}
    .image img{ margin-left: 2px !important;margin-top: -2px;width:24px; height:28px}
    .text-3{ margin-top: -20px}
     .text-3 h6 span{margin-top: -12px; color:#293241; line-height: 27.5px; }
    footer ul li span img {left:0rem;position:relative;margin: 0 .3rem;}
    .header li img{ width:70px;}
    .header li .text-2{ position: absolute; top:19rem;}
    .content-1 ul li .text-2 {position: absolute;right: 2rem;top: 11rem;text-align: center;margin-top: .5rem;font-size: 19px;color: #fff;}
    footer { margin-top: 1.3rem;background: #cccccc87;padding: 1rem;}
    .task h6{font-weight: 700;}
    .task .image-tick{width: 51px;height: 45px;margin: 14px auto;}
    .task .image-notification{width: 41px;height: 52px;margin: 10px auto;}
    .task .image-group{width: 57px;height: 54px;margin: 10px auto;}
    .task ul li h6{ font-size: 17px;margin: 20px 0 0 10px;}
    .task ul .high{margin: 10px 0 0 10px; }
    .task ul .medium{margin: 10px 0 0 -95px; }
    .timings .time{position: relative;right: 1.5rem;top:.5rem }
    .timings .img-4{ margin: 0 0 0 0;}
    .image-2 li span .img1{ position: absolute; right: -1rem;}
    .image-2 li span .img2{ position: absolute; right: 3rem;}
    .ecard{ width:90%; margin-left: 15px;}
    .ecard ul .cal{ margin-left: 9rem}
    .bg-color-1{ background-color: #03a9f430!important;}
    .task .text{ margin-bottom: 10px;}
    .ecard-1 .nav .nav-item .nav-link .bg-width{ width:4rem;}
    .ecard-2{ margin-top: 5rem;border-radius:17.5px;}
    footer{ position: fixed; left:0; bottom: 0; width: 100%}
    .location{ width:14px; height: 19px;}
     .ecard ul .text-6 h3 span{ font-size:22px; color:#293241; letter-spacing: 0.86px;}
    .callback .text-7 p span{ font-size:1rem;}
    .image-1 li span .img1{ width:55px !important; height: 40px !important;}
}

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) {
    body{ overflow-x: hidden !important;}
    .row{ margin: 0px !important;}
    .navbar-nav {font-size: 21px;text-align: center;width: 25%;} 
    .navbar-nav .nav-link{text-align: center;margin: 0 auto;position: relative;left: 20px;} 
    .form-inline{position: relative;left: 1rem;}
    .form-inline .first-img{position: relative;left: 66px;width: 17%;}
    .form-inline .second-img{position: relative;left: 79px;width: 25%; }
    .closures li .closure{font-size: 12px;margin-top: 4px; }
    .closures li .average{font-size: 15px;margin-left: 28px; }
    .image{border: .5px solid #979797;border-radius: 50%;width: 50.5px;height: 50.5px;margin-top: -5px;}
    .image img{ margin-left: 2px !important;margin-top: -2px;width:24px; height:28px}
    .text-3{ margin-top: -20px}
    .text-3 h6 span{margin-top: -12px; color:#293241; line-height: 27.5px; }
    footer ul li span img {left:0rem;position:relative;margin: 0 1rem;}
    .header li img{ width:70px;}
    .content-1 ul li .text-2 {position: absolute;right: 2rem;top: 11rem;text-align: center;margin-top: .5rem;font-size: 19px;color: #fff;}
    .name{ width: 77%;}
    footer { margin-top: 1.3rem;background: #cccccc87;padding: 1rem;}
    .task .image-tick{width: 51px;height: 45px;margin: 14px auto;}
    .task .image-notification{width: 41px;height: 52px;margin: 10px auto;}
    .task .image-group{width: 57px;height: 54px;margin: 10px auto;}
    .timings .img-4{  margin: 0 0 0 0;}
    .location{ width:14px; height: 19px;}
    .ecard ul .text-6 h3 span{ font-size:22px; color:#293241; letter-spacing: 0.86px;}
}